<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://localhost/TransitSchedule</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>http://localhost/TransitSchedule</MSDeployServiceURL>
    <DeployIisAppPath>\\w107670\c$\inetpub\wwwroot\transitschedule</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NextBusDisplayConnectionString" Order="1" Enabled="False">
          <!--<Destination Path="Data Source=NCTDGAOV77;Initial Catalog=NextBusDisplay;Integrated Security=True" />
          <Object Type="DbDacFx">-->
            <Destination Path="Data Source=TNCTDGAOV11;Initial Catalog=NextBusDisplay;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tnctdgaov11;Initial Catalog=NextBusDisplay;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NextBusDisplayConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <!--<Object Type="DbDacFx">
            <PreSource Path="Data Source=nctdgaov77;Initial Catalog=NextBusDisplay;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NextBusDisplayConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>-->
          <UpdateFrom Type="Web.Config">
            <!--<Source MatchValue="Data Source=nctdgaov77;Initial Catalog=NextBusDisplay;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />-->
            <Source MatchValue="Data Source=tnctdgaov11;Initial Catalog=NextBusDisplay;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="2" Enabled="False">
          <!--<Destination Path="Data Source=NCTDGAOV77;Initial Catalog=NextBusDisplay;Integrated Security=True" />-->
          <Destination Path="Data Source=TNCTDGAOV11;Initial Catalog=NextBusDisplay;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String">
      <!--<ParameterValue>Data Source=NCTDGAOV77;Initial Catalog=NextBusDisplay;Integrated Security=True</ParameterValue>-->
      <ParameterValue>Data Source=TNCTDGAOV11;Initial Catalog=NextBusDisplay;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NextBusDisplayConnectionString-Web.config Connection String">
      <!--<ParameterValue>Data Source=NCTDGAOV77;Initial Catalog=NextBusDisplay;Integrated Security=True</ParameterValue>-->
      <ParameterValue>Data Source=TNCTDGAOV11;Initial Catalog=NextBusDisplay;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>